
@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";
@import "compass/css3/appearance";
@import "compass/css3/transition";

@import "normalize/import-now";

@import "variables.scss";

@import url(http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Mono|Roboto+Condensed:300,300i,400,400i,700,700i);

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html {
  font-family: $main-font !important;
}

html * {
  color: $base-text-color;
}

@each $kvp in $colors {

  .background-color-#{nth($kvp, 1)} {
    background-color: #{nth($kvp, 2)}
  }

  .color-#{nth($kvp, 1)} {
    color: #{nth($kvp, 2)}
  }

  .border-color-#{nth($kvp, 1)} {
    color: #{nth($kvp, 2)}
  }
}

@import "ixtaat/grid.scss";